extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti aliquid, ullam atque sed enim itaque ad alias eius numquam, cumque at dolore quisquam iste ut nisi magnam, dolorum exercitationem est.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti aliquid, ullam atque sed enim itaque ad alias eius numquam, cumque at dolore quisquam iste ut nisi magnam, dolorum exercitationem est.Lorem ipsum, dolor sit amet consectetur adipisicing elit. 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit enim rerum modi sapiente quibusdam, rem laudantium laborum quo provident culpa porro, fuga facilis nesciunt ullam. Cupiditate aperiam similique tempore neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit enim rerum modi sapiente quibusdam, rem laudantium laborum quo provident culpa porro, fuga facilis nesciunt ullam. Cupiditate aperiam similique tempore neque?Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo quam error natus asperiores minima nostrum voluptates sit optio, veritatis, magnam officiis iure at doloremque esse maiores quidem laudantium exercitationem. orem ipsum dolor sit amet consectetur adipisicing elit. Odit nemo quam error natus asperiores minima nostrum voluptates sit optio, veritatis, magnam officiis iure at doloremque esse maiores quidem laudantium exercitationem.orem ipsum dolor sit amet consectetur adipisicing elit. 
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Odit nemo quam error natus asperiores minima nostrum voluptates sit optio, veritatis, magnam officiis iure at doloremque esse maiores quidem laudantium exercitationem.orem ipsum dolor sit amet consectetur adipisicing elit. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Odit nemo quam error natus asperiores minima nostrum voluptates sit optio, veritatis, magnam officiis iure at doloremque esse maiores quidem laudantium exercitationem.orem ipsum dolor sit amet consectetur adipisicing elit. 
                .col-md-4
                    img(src="img/icono_Precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Odit nemo quam error natus asperiores minima nostrum voluptates sit optio, veritatis, magnam officiis iure at doloremque esse maiores quidem laudantium exercitationem.orem ipsum dolor sit amet consectetur adipisicing elit. 